<a href="https://colab.research.google.com/github/Franchertz/Python-Learning/blob/main/Intro_To_Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Introduction To The Pandas Library**

Derived from Panel Data: Data sets that include multiple observations
over multiple periods of time. 

Used for a certain types of data tables.

Pandas is built on top of Numpy and steps on its computational abilities.

Pandas requires Numpy.

Pandas makes the experience of data analysis in Python faster and easier

**Installing and Running Pandas**

In [ ]:
import pandas as pd
pd

In [ ]:
pd.__version__  #shows the version of pandas

'1.5.3'

#**Intro To Pandas Series**

The "Series" object is a single-column data, or a set of values that correspond 

to a single variable.

Hence, a Series object can be created from a list.

In [ ]:
products = ['A','B','C','D']
products

['A', 'B', 'C', 'D']

In [ ]:
type(products)

list

In [ ]:
#Turning the list into a Series

product_categories = pd.Series(products)

In [ ]:
product_categories

0    A
1    B
2    C
3    D
dtype: object

On the left hand side, we see the numbers 0 to 3, these are called **Index Values** which usually starts from 0.

Also the datatype is assigned

In [ ]:
type(product_categories)

pandas.core.series.Series

In [ ]:
type(pd.Series(products))

pandas.core.series.Series

In [ ]:
daily_rates_dollars = pd.Series([40, 45, 50, 60])
daily_rates_dollars

0    40
1    45
2    50
3    60
dtype: int64

In [ ]:
print(daily_rates_dollars)

0    40
1    45
2    50
3    60
dtype: int64

Pandas Series objects corresponds to the one-dimensional NumPy array structure

In [ ]:
import numpy as np

In [ ]:
array_a = np.array ([10, 20, 30, 40, 50])
array_a

array([10, 20, 30, 40, 50])

In [ ]:
type(array_a)

numpy.ndarray

In [ ]:
series_a = pd.Series(array_a)
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
print(series_a)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
type(series_a)

pandas.core.series.Series

#**Takeaways:**
1. The Pandas Series object is a powerful version
    of the Python list, or an enhanced version of
    the NumPy array.

2. Always maintain data consistency.