<a href="https://colab.research.google.com/github/Franchertz/Python-Learning/blob/main/Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_variables=(1,3,5,7,9)

In [ ]:
my_variables

(1, 3, 5, 7, 9)

In [ ]:
records=['name','date','location']

In [ ]:
records

['name', 'date', 'location']

In [ ]:
#adding two numbers below:
c=23 + 8

print('the answer is:  ', c)

the answer is:   31

In [ ]:
def add(a,b):
  """Function to add two numbers"""
  add = a + b
  return add

In [ ]:
add(52,68)

120

In [ ]:
def add(a,b):
  """Function to add two numbers"""
  add = a + b
  return add

In [ ]:
add.__doc__

'Function to add two numbers'

In [ ]:
my_variable = 27

In [ ]:
my_variable

27

In [ ]:
print(id(my_variable))

139762478795888

In [ ]:
company = 'Secure Solutions'

In [ ]:
company

'Secure Solutions'

In [ ]:
name = 'MrFrankie'

In [ ]:
name

'MrFrankie'

In [ ]:
a,b,c = 103,'SSG', 20
#Assigning multiple values to multiple variables

In [ ]:
print(a)
print(b)
print(c)

103
SSG
20

In [ ]:
a,b,c.__doc__

(103,
 'SSG',
 "int([x]) -> integer\nint(x, base=10) -> integer\n\nConvert a number or string to an integer, or return 0 if no arguments\nare given.  If x is a number, return x.__int__().  For floating point\nnumbers, this truncates towards zero.\n\nIf x is not a number or if base is given, then x must be a string,\nbytes, or bytearray instance representing an integer literal in the\ngiven base.  The literal can be preceded by '+' or '-' and be surrounded\nby whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.\nBase 0 means to interpret the base from the string as an integer literal.\n>>> int('0b100', base=0)\n4")

In [ ]:
a = ['Red', 'Green', 'Blue']
#Better written as

In [ ]:
colours = ['Red', 'Green', 'Blue']

In [ ]:
b = ['Female', 'Male']
#Better written as

In [ ]:
gender = ['Female', 'Male']

In [ ]:
european_countries=['Spain', 'United kingdom', 'Italy', 'Holland']

In [ ]:
my_beautiful_colours=['Indigo', 'Red', 'Green', 'Pink', 'Blue']

In [ ]:
my_beautiful_colours

['Indigo', 'Red', 'Green', 'Pink', 'Blue']

In [ ]:
#Output Function
number1 = 30
number2 = 50
multiplication = number1*number2

multiplication

1500

In [ ]:
print( 'The result ofthe multiplication is : ',multiplication)

The result ofthe multiplication is :  1500

In [ ]:
#Input function
user_number = input('Enter a number')
print('Your number is :', user_number)

Enter a number700
Your number is : 700

In [ ]:
user_password = input('Enter password')
print('Your password is : ', user_password)

Enter password@711#James
Your password is :  @711#James

In [ ]:
#For a more complex situation
quantity = int(input('Enter quantity'))
size = int(input('Enter size'))
discount = 0.50
Price = quantity*size*discount
print('Your item cost is :', '$', Price)

Enter quantity80
Enter size45
Your item cost is : $ 1800.0

In [ ]:
#import function
numbers =[2,1,5,6,8,7,9,12,11,14]

#Finding the mean

mean = (2+1+5+6+8+7+9+12+11+14)/10
print(mean)

7.5

In [ ]:
#alternatively importing inbuilt funtions to calculate the above

import statistics as s

mean = s.mean(numbers)

print(mean)

7.5

In [ ]:
#Arithmetic operators
#examples +,-,*,/,%,**

100 + 78

178

In [ ]:
25/5

5.0

In [ ]:
5**2

25

In [ ]:
#Comparison operators, usually true or false

45==7

False

In [ ]:
45 == 45

True

In [ ]:
45 >= 7

True

In [ ]:
45 != 7

True

In [ ]:
#logical operators, usually conditional statement examples and,or,not

a = 65
b = 15
c = 8
#all of the conditions must be met
if a > b and b > c:
  print('This statement is true')

if a > 14 and b < 20 and c > 10:
  print("This statement is true")
else:
  print('This statement is not true')

This statement is true
This statement is not true

In [ ]:
a = 65
b = 15
c = 8
#anyone of the conditions can be met
if a > b and b > c:
  print('This statement is true')

if a < 14 or b > 20 or c < 10:
  print("This statement is true")
else:
  print('This statement is not true')

This statement is true
This statement is true

In [ ]:
#Bitwise operators, &(and),|(or),~(not),^(XOR),>>(right shift),<<(left shift)

marks = float(input('Enter marks'))

# |

if (marks==100) | (marks > 50):
  print('You have passed your python test')
else:
  print('Please try again')

Enter marks87
You have passed your python test

In [ ]:
marks = float(input('Enter marks'))
attendance = int(input('Enter total attendance'))
# &

if (marks > 50) & (attendance > 70):
  print('You have passed your python test')
else:
  print('Please try again')

Enter marks90
Enter total attendance65
Please try again

In [ ]:
marks = float(input('Enter marks'))
attendance = int(input('Enter total attendance'))
# &

if (marks > 50) & (attendance > 0.50*attendance):
  print('You have passed your python test')
else:
  print('Please try again')

Enter marks50
Enter total attendance120
Please try again