<a href="https://colab.research.google.com/github/Franchertz/Python-Learning/blob/main/Pandas_Loc_%26_iLoc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**loc & iloc**

loc get rows(or columns) with particular **label(name)** from the index

iloc get rows(or columns) at particular positions in the **index** and it takes integers.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Let's create a dictionary

sports = {'Football': 'Spain',
          'NBA': 'USA',
          'Cricket': 'India',
          'Atheletics': 'Jamaica'}     # In the output after converting to Series, the KEYS become the Index and the Values become the Label or name

sports_series = pd.Series(sports)
sports_series

Football        Spain
NBA               USA
Cricket         India
Atheletics    Jamaica
dtype: object

In [ ]:
sports_series.loc['Cricket']

'India'

In [ ]:
sports_series.iloc[2]

'India'

In [ ]:
sports_series.iloc[3]

'Jamaica'