<a href="https://colab.research.google.com/github/Franchertz/Python-Learning/blob/main/Pandas_Intro_to_DataFrame_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**DataFrames**
* Two-dimensional
* Size is adjustable or changeable or mutable
* Table data is heterogenous

#**Its Data Structure contains:**
* labeled axes(rows and columns)
* Arithmetics operations align on both row and column labels.
* dict-like container for series objects.

In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.randn(10,5)  #10x5

array([[ 0.93659669,  0.75663373, -0.50421502, -0.80429526,  0.42289138],
       [ 0.06432127, -0.04807585, -1.31275622,  0.43872349, -0.76705541],
       [-1.08612175,  0.68288373,  1.172107  ,  0.92757266,  0.55752888],
       [ 1.22356437,  0.19110156,  0.0298819 ,  0.3179215 ,  0.4215302 ],
       [ 0.02371546,  0.03179797, -0.09304969,  1.24600414,  0.28033762],
       [-2.32030392,  1.05983078, -1.61450547, -0.83074874, -0.65422638],
       [ 0.45286094, -0.16771479, -0.1184661 ,  1.21637996, -0.64972685],
       [-1.18109888, -1.47459866,  1.4055903 , -1.21492739, -1.11338051],
       [ 0.13041804,  1.39778466, -2.04002298, -1.02048656,  2.1316676 ],
       [-0.10210451, -0.38399639,  1.2412913 ,  1.09024979,  0.3945333 ]])

In [4]:
my_dataframe = pd.DataFrame(np.random.randn(10,5), index='row1 row2 row3 row4 row5 row6 row7 row8 row9 row10'.split(),
                            columns='column1 column2 column3 column4 column5'.split())

my_dataframe

        column1   column2   column3   column4   column5
row1   1.404865 -0.321498 -1.151269 -0.053874  0.721245
row2  -1.987113  0.448908  0.583150  0.988568  0.487269
row3  -2.585981 -2.125365 -0.989814  1.386448 -1.557369
row4  -0.768248  0.564698  1.221859 -2.149912  0.058118
row5   1.174006  0.083230  0.819525 -1.335276 -0.604342
row6  -0.062484 -1.903794 -0.243156  1.047952 -1.636715
row7   1.441948  0.080621 -0.562724 -0.261057  0.872266
row8   0.196538  0.952820  0.139301 -0.604837  1.449998
row9   0.792733 -0.713530 -0.959949  0.772298 -0.281391
row10  1.517276  0.139866 -0.075683 -1.451798  1.016599

In [5]:
type(my_dataframe['column1'])

pandas.core.series.Series

In [6]:
type(my_dataframe)

pandas.core.frame.DataFrame