<a href="https://colab.research.google.com/github/Franchertz/Python-Learning/blob/main/Pandas_Series_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Import Library**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#pd.Series?

#**Series:** 
is one-dimensional labeled array
capable of holding data of any type(int,str,float,python objects,etc)

#**Dataframe:** 
is a two-dimensional labeled array capable of holding data
of any type(int,str,float,python objects,etc).

One can say Series 1-dimensional labeled array and 
Dataframe is a group of Series.

In [ ]:
my_pets = ['Lion', 'Cat', 'Birds','Fish']
my_pets

['Lion', 'Cat', 'Birds', 'Fish']

In [ ]:
print(my_pets)

['Lion', 'Cat', 'Birds', 'Fish']

In [ ]:
pd.Series(my_pets)  #converting list to series objects with indexes

0     Lion
1      Cat
2    Birds
3     Fish
dtype: object

In [ ]:
type(my_pets)

list

#**Creating Index**

In [ ]:
my_days = ['Monday','Tuesday','Wednesday','Thursday','Friday']
my_days

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [ ]:
len(my_days)

5

In [ ]:
my_courses = ['Economics','Geography','Finance','Mathematics','History']
my_courses

['Economics', 'Geography', 'Finance', 'Mathematics', 'History']

In [ ]:
len(my_courses)

5

**Constructing Series from a dictionary with an Index specified**

The length of index has to be the same with the length of Values

In [ ]:
pd.Series(my_courses)

0      Economics
1      Geography
2        Finance
3    Mathematics
4        History
dtype: object

In [ ]:
pd.Series(my_courses, index=my_days)

Monday         Economics
Tuesday        Geography
Wednesday        Finance
Thursday     Mathematics
Friday           History
dtype: object

**Otherwise, we get an error as shown below**

In [ ]:
my_days1 = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
my_days1

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [ ]:
len(my_days1)

6

In [ ]:
len(my_courses)

5

In [ ]:
pd.Series(my_courses, index=my_days1)

ValueError: ignored

In [ ]:
days = pd.Series(['Monday','Tuesday','Wednesday','Thursday','Friday'], index = ['Day1','Day2','Day3','Day4','Day5'])
days

Day1       Monday
Day2      Tuesday
Day3    Wednesday
Day4     Thursday
Day5       Friday
dtype: object